/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.layout {
  min-height: 100vh;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 24px 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: calc(100vh - 50px);
}

nz-footer {
  text-align: center;
}

.layout {
  min-height: 100vh;
}

#time-range>#range-indicator {
  margin: 40px 15px 0;
  font-size: 18px;
}

.ant-layout-sider-children {
  position: fixed !important;
  width: 200px;
}
